{% extends "app_tiendanaru/base.html" %}
{% load static %}

{% block content %}

<section class="pricing py-5">
  <!-- IMAGENES COLUMNAS -->

  <!-- Page Content -->
<div class="container">

<div class="row">

<!-- primera fila ------------------------------------------------------------------>

  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="{% url 'contacto' %}"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/batom-liquido.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'contacto' %}">Labial Liquido Mate</a>
        </h4>
        <p class="card-text"> l líquido del lápiz labial Mattify – Red de Hinode es el producto ideal para aquellos que quieren labios bellos y coloridos durante mucho más tiempo . Su fórmula con textura satinada actúa directamente en la elaboración del efecto mate , dejando tus labios con un color mate y opaco.

          Debido a su amplia gama de colores y tonos, el lápiz labial líquido Mattify Hinode atrae a todos los gustos y personalidades, ¡dándoles a tus labios el color que mejor se adapte a ti y a tus momentos!
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="{% url 'contacto' %}"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/corrector-maquillaje.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'contacto' %}">CORRECTOR COVER DAZZLE</a>
        </h4>
        <p class="card-text"> El Corrector Cover+ es el producto perfecto para cualquiera que quiera tener una piel homogénea, uniforme y sin imperfecciones. Con textura fina y aplicación uniforme, proporciona una cobertura impecable y un increíble efecto mate.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="{% url 'contacto' %}"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/cover1.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'contacto' %}"> Polvo Compacto Cover + HD </a>
        </h4>
        <p class="card-text"> Los polvos compactos Cover+HD de la linea DAZZLE, te deja un bello acabado y textura increibe, con una aplicación uniforme, viisualmente natural, textura fina. Estos polvos tienen buena adherencia a la piel, ideal para llevar en tu bolso. Embalaje con espejo.

          6 tonos diferentes - Claro 1 - Claro 2 - Medio 1- Medio 2- Oscuro 1- Oscuro 2
        </p>
      </div>
    </div>
  </div>
  


<!-- TERMINA COLUMNAS IMAGENES -->


  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$32,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$32,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$45,000</h6>
            <hr>
        
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- 2 fila ------------------------------------------------------------------>

  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/cover2.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">CORRECTOR DE CEJAS</a>
        </h4>
        <p class="card-text">Todos los pasos para definir y enmarcar las cejas.  - 2 tonos de sombras para definir y dar profundidad a las cejas. 
          ,Perfila e ilumina tus cejas, Cera fijadora para un efecto permanente, Con la aplicación uniforme y buena fijación, el Corredor de Cejas Shape & Stay Hinode garantiza un acabado natural y máxima practicidad para unas cejas expresivas y un maquillaje perfecto y duradero. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/cuarteto.png' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">CUARTETO DE SOMBRAS DAZZLE</a>
        </h4>
        <p class="card-text"> Conquista una mirada marcante y expresiva!
          Colores brillantes y Colores Matte. El cuarteto de sombras Dazzle tiene las combinaciones de colores perfectas para una mirada destacada.
          Práctico y fácil de aplicar, está indicado para que brille en cualquier ocasión de la vida cotidiana, dejará tu maquillaje aún más perfecto. ¡Realce su belleza!
          Alta pigmentación y fijación.
          Cuartetos: 1. Glamour 2. Rosa 3. Oro 4. Natural 5. Zafiro</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/D_NQ.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">RUBOR DAZZLE </a>
        </h4>
        <p class="card-text">El rubor de la linea Dazzle tiene colores intensos y un toque satinado. </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$59,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$55,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$50,000</h6>
            <hr>
        
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
      
 <!-- 3 fila ------------------------------------------------------------------>    
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/delineador-liquido.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> DELINEADOR LIQUIDO DEFEYENE DAZZLE</a>
        </h4>
        <p class="card-text">El delineador Defeyene color negro de Hinode posee la punta extremadamente fina y pigmentada proporcionando un delineado perfecto. Con excelente fijación, La Pluma Delineadora Defeyene se desliza suavemente por la piel y proporciona una mirada resaltada en segundos. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/l-hombre.png' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> FRAGANCIA EMPIRE HND </a>
        </h4>
        <p class="card-text"> Empire es una fragancia que se revela con la misma actitud de los hombres que saben donde quieren llegar.

          Su salida es definida por la innovación contemporánea de tradicionales notas aromáticas como el albahaca y el estragón, que aliadas a la frescura de Bergamota construyen un puente hacia el cuerpo diferenciado e irresistible de Frésia y de Jasmín. Todo este conjunto es enriquecido por notas verdes y alcanzan la cima con las notas Ambaradas y los Musks Dorados.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> BASE LIQUIDA HD COVER</a>
        </h4>
        <p class="card-text">La base líquida Dazzle HD Cover Liquid está especialmente desarrollada para aquellos que desean una base que tenga una aplicación fácil, una absorción rápida y proporcione un efecto mate perfecto en su piel . Su fórmula asegura que su fijación esté protegida de la exposición a la humedad, preparándolo para cualquier ocasión. </p>
      </div>
    </div>
  </div>
     
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$37,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$166,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$55,000</h6>
            <hr>
        
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- 4 fila-->

  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima-perfume.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">ELLA HND</a>
        </h4>
        <p class="card-text">La sensualidad es la palabra que resume este perfume. Mezcla de sofisticación y sensualidad y frescura.
          Composición: florar-afrutado, con notas cremosas de jazmín y violetas.
           </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima-perfume-2.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">FEELIN PARA ELLA </a>
        </h4>
        <p class="card-text"> Feelin es un estado de conciencia que va más allá del toque y la emoción. Para él y para ella, atracción y sensualidad a la flor de la piel.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima-perfume-3.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> FEELIN PARA EL</a>
        </h4>
        <p class="card-text">a fragancia Feelin Para Él Hinode revela un estado de conciencia que va más allá del toque y la emoción. Desarrollada por la perfumista Eve Miralles e inspirado en el magnetismo y poder de seducción del hombre moderno. </p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$138,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$166,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$166,000</h6>
            <hr>
        
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>

    </div>
  </div>

<!---5 fila------------------------------------------>

  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima-perfume-4.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> GRAND HND</a>
        </h4>
        <p class="card-text">La fragancia masculina Grand Hinode está ligada a la nobleza y sofisticación y despierta sensaciones capaces de atraer miradas de deseos y misterios. Hinode Grand fue desarrollado de forma cuidadosa y exclusiva para el hombre moderno y exitoso. Esta fragancia deja un rastro de poder inconfundible y exhala toda la sensualidad masculina a través de la armonización perfecta de sus notas. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/lima-perfume-5.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">LATITUDE</a>
        </h4>
        <p class="card-text">La fragancia masculina Lattitude Expedition Hinode es perfecta para los momentos de inspiración y auto-conocimiento. La jornada para explorar el nuevo comienza con el Hinode Lattitude Expedition. Esta es la Deo Colonia ideal para vivir la libertad y buscar otros horizontes.  </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/l-mujer.png' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">DAZZLE HND </a>
        </h4>
        <p class="card-text">Para la mujer atrevida, con estilo y poderosa, icono de feminidad, alegría y actitud. Su estructura olfativa tiene salidas de mandarina toronka y frutos rojos, cuerpo de flor de naranja, rosa, jazmín y sándalo, con un fondo de vainilla y ambar, propios de la mujer audaz y capaz con todos los retos que se le presenten. </p>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$155,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$138,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$126,000</h6>
            <hr>
        
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--6 fila--------------------------->
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/mascara-pestanas.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> MASCARA DE PESTAÑAS VOLUMAX</a>
        </h4>
        <p class="card-text"> es el producto ideal para aquellos que desean tener pestañas voluminosas y llamativas . Con un aplicador diferente, el Volumax te da pestañas con mayor volumen, sin la necesidad de toques constantes, algo muy común cuando se trata de una máscara de pestañas.  </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'app_tiendanaru/img/maquillaje_perfumeria/perfume.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> ETERNA </a>
        </h4>
        <p class="card-text"> terna de Hinode fue elaborada para mujeres que logran transponer la barrera de lo efímero y hacen su presencia y recuerdo únicas para siempre.
          Eterna remite a un jardín de flores sofisticadas, que tiene su belleza sutil y envolvente reveladas por medio de modernas combinaciones de las notas de salida del Té Verde y de la Bergamota.</p>
      </div>
    </div>
  </div>
  
    
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$50,000</h6>
            <hr>
            
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Precio</h5>
            <h6 class="card-price text-center">$155,000</h6>
            <hr>
      
            <a href="{% url 'contacto' %}" class="btn btn-block btn-primary text-uppercase">Comprar</a>
          </div>
        </div>
      </div>
      

    </div>
  </div>

<!--seccion final-->
</div>
</div>
      
</section>

{% endblock%}